Repository aws-cloudformation/community-registry-extensions, pull requests merged in 2023-03, with the labels that each got.

#163 Module publishing
  modules/S3_Bucket/cleanup.sh
  modules/S3_Bucket/fragments/bucket.yml
  modules/S3_Bucket/test/integ.yml
  modules/alpha-buildspec.yml
  modules/prod-buildspec.yml
  release/Dockerfile
  release/awscommunity/cicd.yml
  release/common.yml
  release/deploy-build-image.sh
  release/deploy-cicd.sh
  release/deregister-all.sh
  release/publish-module.sh
  release/publish-regions.sh
  release/publish-resource.sh
  release/publish-stacksets.sh
  release/publish.sh
  resources/alpha-buildspec-python.yml
  resources/beta-buildspec-python.yml
  resources/prod-buildspec-python-batch.yml
  resources/prod-buildspec-python.yml
Labels: ops

#42 DynamoDB Item
  resources/DynamoDB_Item/.gitignore
  resources/DynamoDB_Item/.rpdk-config
  resources/DynamoDB_Item/README.md
  resources/DynamoDB_Item/awscommunity-dynamodb-item.json
  resources/DynamoDB_Item/docs/README.md
  resources/DynamoDB_Item/docs/attributevalue-m.md
  resources/DynamoDB_Item/docs/attributevalue.md
  resources/DynamoDB_Item/docs/item.md
  resources/DynamoDB_Item/docs/key.md
  resources/DynamoDB_Item/inputs/inputs_1_create.json
  resources/DynamoDB_Item/inputs/inputs_1_invalid.json
  resources/DynamoDB_Item/inputs/inputs_1_update.json
  resources/DynamoDB_Item/requirements-dev.txt
  resources/DynamoDB_Item/requirements.txt
  resources/DynamoDB_Item/resource-role-prod.yaml
  resources/DynamoDB_Item/resource-role.yaml
  resources/DynamoDB_Item/run-test.sh
  resources/DynamoDB_Item/src/awscommunity_dynamodb_item/__init__.py
  resources/DynamoDB_Item/src/awscommunity_dynamodb_item/handlers.py
  resources/DynamoDB_Item/src/awscommunity_dynamodb_item/models.py
  resources/DynamoDB_Item/template.yml
  resources/DynamoDB_Item/test/integ.yml
  resources/DynamoDB_Item/test/setup.yml
Labels: feature, resource

#32 CloudFront S3 Website Module
  modules/CloudFront_S3Website/.gitignore
  modules/CloudFront_S3Website/.rpdk-config
  modules/CloudFront_S3Website/README.md
  modules/CloudFront_S3Website/fragments/template.yaml
  modules/CloudFront_S3Website/schema.json
Labels: feature, module

#40 Security Group rules restrict SSH
  hooks/EC2_SecurityGroupRestrictedSSH/.gitignore
  hooks/EC2_SecurityGroupRestrictedSSH/.rpdk-config
  hooks/EC2_SecurityGroupRestrictedSSH/README.md
  hooks/EC2_SecurityGroupRestrictedSSH/awscommunity-ec2-securitygrouprestrictedssh-configuration.json
  hooks/EC2_SecurityGroupRestrictedSSH/awscommunity-ec2-securitygrouprestrictedssh.json
  hooks/EC2_SecurityGroupRestrictedSSH/hook-role-prod.yaml
  hooks/EC2_SecurityGroupRestrictedSSH/hook-role.yaml
  hooks/EC2_SecurityGroupRestrictedSSH/inputs/inputs_1_invalid_pre_create.json
  hooks/EC2_SecurityGroupRestrictedSSH/inputs/inputs_1_invalid_pre_update.json
  hooks/EC2_SecurityGroupRestrictedSSH/inputs/inputs_1_pre_create.json
  hooks/EC2_SecurityGroupRestrictedSSH/inputs/inputs_1_pre_update.json
  hooks/EC2_SecurityGroupRestrictedSSH/requirements-dev.txt
  hooks/EC2_SecurityGroupRestrictedSSH/requirements.txt
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/__init__.py
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/handler_test.py
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/handlers.py
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/models.py
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/rules/__init__.py
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/rules/security_group.guard
  hooks/EC2_SecurityGroupRestrictedSSH/src/awscommunity_ec2_securitygrouprestrictedssh/rules/security_group_ingress.guard
  hooks/EC2_SecurityGroupRestrictedSSH/template.yml
  hooks/EC2_SecurityGroupRestrictedSSH/test/configuration-undo.json
  hooks/EC2_SecurityGroupRestrictedSSH/test/configuration.json
  hooks/EC2_SecurityGroupRestrictedSSH/test/integ-fail.yml
  hooks/EC2_SecurityGroupRestrictedSSH/test/integ-succeed.yml
  hooks/alpha-buildspec-python.yml
  release/awscommunity/cicd.yml
  resources/alpha-buildspec-python.yml
  resources/alpha-buildspec-typescript.yml
Labels: feature, hook
